.full-img {
  position: relative;
  
  &__wrapper {
    overflow: hidden;
  }
  
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  &__caption {
    display: none;
  }
  
  &__author {
    display: none;
  }
}


@media (min-width: @w-large) {
  .full-img {
    &::after {
      position: absolute;
      content: '';
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      
      // Triangle
      width: 0; 
      height: 0; 
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      
      border-bottom: 8px solid #fff;
      
    }
    
    &__caption {
      display: block;
      font-family: @default;
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;
      margin-bottom: 1px;
    }    
    
    &__author {
      display: block;
      color: #acacac;
      font-size: 13px;
      font-family: @default;
      font-weight: 400;
      margin-bottom: 15px;
    }
  }
}