.pagination {
  .list-reboot();
  
  &__item {
    display: inline-block;
  }
  
  &__heading {
    display: none;
  }
  
  &__link {
    display: block;
    font-family: @default;
    width: 34px;
    height: 34px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 34px;
    text-align: center;

    &:hover {
      color: rgb(181, 26, 26);
    }
    
    &--active {
      font-weight: 700;
      background-color: #e6e6e6;
      border-radius: 50%;

      &:hover {
        color: #000;
      }
    }
  }
}

@media only screen and (min-width: @w-medium) {
  .pagination {
    &__heading {
      display: block;
      margin: 0;
      margin-right: 20px;
      font-family: @default;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      color: #848484;      
    }
  }
}