.photo-day {
  overflow: hidden;
  background-color: #ffffff;
  min-width: 320px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  
  &__heading {
    display: flex;
    margin-top: 28px;
    margin-bottom: 23px;
    align-items: flex-end;
    color: #010101;
    font-size: 26px;
    font-family: @headings;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    
    &::after {
      content: "";
      background-color: #010101;
      flex-grow: 1;
      height: 2px;      
      margin-left: 20px;
    }
  }
  
  &__full-img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
  
  &__thumbs {
    text-align: left;
    display: block;
    margin-right: -3px;
    margin-left: -3px;
    font-size: 0;
  }
  
  &__ad-mobile {
    margin: 5px auto 10px auto;
  }
  
  &__ad-banner {
    display: none;
  }
  
  &__thumb-link {
    display: inline-block;
    text-align: center;
    width: 73px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 6px;
    margin-right: 3px;
    margin-left: 3px;
    text-decoration: none;
    background-color: #fff;
    
    &--floating {
      position: absolute;
      top: 6px;
      left: 6px;
      opacity: 0.8;
    }
  }
  
  &__thumb-image {
    display: block;
    width: 100%;
  }
  
  &__thumb-date {
    color: #000;
    position: relative;
    font-size: 14px;
    font-family: @default-serif;
  }
  
  &__thumb-number {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    
    &::after {
      position: absolute;
      content: "";
      top: 10px;
      right: -20px;
      
      // Triangle
      width: 0; 
      height: 0; 
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;      
      border-left: 5px solid #000;
    }
  } 
  
  &__pagination {
    margin-top: 20px;
  }
}

@media only screen and (min-width: @w-medium) {
  .photo-day {
    padding: 20px;
    
    &__heading {
      font-size: 40px;
      line-height: 35px;
      margin-bottom: 30px;
    }
    
    &__thumbs {      
      text-align: left;
      margin-right: -5px;
    }
    
    &__ad-banner {
      display: block;
      float: right;
      margin-right: 5px;
      
      &.ad-banner--cola {
        display: none;
      }
    }
    
    &__full-img {
      margin-bottom: 10px;
    }
    
    &__thumb-link {
      width: 80px;
      height: 53px;
      margin-bottom: 10px;
      margin-right: 5px;     
      margin-right: 5px;     
      
      &--floating {
        top: 10px;
        left: 10px;
      }
    }
    
    &__pagination {
      margin-top: 20px;
    }
  }
}


@media only screen and (min-width: @w-large) {
  .photo-day {
    padding: 20px 34px;
    
    &__thumbs {      
      text-align: left;
      margin-right: -10px;
      margin-left: -10px;
    }
    
    &__thumb-link {
      margin-bottom: 20px;
      margin-right: 10px;
      margin-left: 10px;
      width: 160px;
      height: 104px;    
      
      &--floating {
        top: 20px;
        left: 20px;
      }
    }
    
    &__thumb-date {
      color: #000;
      position: relative;
      font-size: 18px;
      font-family: @default-serif;
    }
    
    &__thumb-number {
      position: relative;
      display: block;
      margin-top: 15px;
      font-size: 36px;
      font-weight: 400;
      
      &::after {
        position: absolute;
        content: "";
        top: 24px;
        right: 20px;
        
        // Triangle
        width: 0; 
        height: 0; 
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;      
        border-left: 5px solid #000;
      }
    } 
    
    &__ad-banner {
      display: block;
      float: right;
      margin-right: 10px;
      
      &.ad-banner--cola {
        display: block;
      }
    }
  }
}