.photo-day {
  overflow: hidden;
  background-color: #ffffff;
  min-width: 310px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  
  &__heading {
    display: flex;
    margin-top: 28px;
    margin-bottom: 23px;
    align-items: flex-end;
    color: #010101;
    font-size: 26px;
    font-family: @headings;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    
    &::after {
      content: "";
      background-color: #010101;
      flex-grow: 1;
      height: 2px;      
      margin-left: 20px;
    }
  }
  
  &__full-img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
  
  &__thumbs {
    text-align: center;
    display: block;
    margin-right: -6px;
    font-size: 0;
  }
  
  &__thumb-link {
    display: inline-block;
    width: 73px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 6px;
    margin-right: 6px;
    text-decoration: none;
  }
  
  &__thumb-image {
    display: block;
    width: 100%;
  }
  
  &__thumb-date {
    color: #000;
    position: relative;
    font-size: 14px;
    font-family: @default-serif;
  }
  
  &__thumb-number {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    
    &::after {
      position: absolute;
      content: "";
      top: 10px;
      right: -20px;
      
      // Triangle
      width: 0; 
      height: 0; 
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;      
      border-left: 5px solid #000;
    }
  } 
  
  &__pagination {
    margin-top: 20px;
  }
}

@media only screen and (min-width: @w-medium) {
  .photo-day {
    padding: 20px;
  }
}
